{% extends "blog/base.html" %}
{% block content %}
<!-- Introduction -->
<section id="intro" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2> What I am </h2>
            </header>
            <p>Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.</p>
            <ul class="actions">
        </div>
    </div>
</section>
{% for post in posts %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>

{% endfor %}
<footer class="major">
    <ul class="actions special">
        <a href="{% url 'blog-bugs' %}"> all bugs </a>
    </ul>
</footer>
<!-- Get Started -->
{% endblock content %}